@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Network Monitoring Tools</h1>
    <p>
        <a href="@Url.Action("Ping", "Ping")">Ping Utility</a>
    </p>
</div>
